body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}

.header{
    background-color: #211C84;
    color: white;
    overflow: hidden;
}
.logo{
    float: left;
    
    font-weight: bold;
}
.nav-list{
    list-style: none;
    margin: 0;
    float: right;
    display: inline-block;
}
.nav-list .nav-item{
    display: inline-block;
    padding: 20px;
}
.nav-list .nav-item a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
}
.nav-list .nav-item a:hover{
    color: #0F0E0E;
    background-color: #B5A8D5;
    opacity: 0.2;
    padding: auto;
    border-radius: 10px;
}
.hero{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}